<div class="about-website" style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <img src="assets/images/logo_1.png" alt="LOGO" style="height: 200px; width: 200px;">
    <div style=" max-width: 500px; padding: 50px;">
      <p><span style="font-style: italic; color: #351281; font-weight: bold;">"CritiQ is a platform for sharing reviews of products and services. It is a place where you can share your experiences and help others make informed decisions"</span></p>
    </div>
  </div>
  
  <section class="about-us">
      <div class="developer left">
        <img src="assets/images/omkar.png" alt="Developer 1" style="height: 200px; width: 200px;">
        <h2 style="font-family: 'Comic Sans MS', cursive, sans-serif;">Omkar Kancharlawar</h2>
        <p><span style="font-style: italic; color: #351281; font-weight: bold;">"Self-motivated and hardworking graduate seeking an opportunity to work in a challenging environment to prove my coding skills and utilize my knowledge of various databases for the growth of the organisation"</span></p>
      </div>
      <div class="developer right">
          <img src="assets/images/rushi.jpg" alt="Developer 2" style="height: 200px; width: 200px; ">
          <h2 style="font-family: 'Comic Sans MS', cursive, sans-serif;">Rushikesh Dhore</h2>
        <p>
          Enthusiastic and highly motivated beginner with excellent organizational skills. Eager to
          apply my knowledge and skills to real-world software development challenges and contribute to innovative
          projects.</p>
          <p><span style="font-style: italic; color: #351281; font-weight: bold;">"Committed to working collaboratively, learning from experienced professionals, and continually
          expanding my technical expertise to make a positive impact in the field."</span>
        </p>    
      </div>
    </section>
