<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
    <div class="container px-4 px-lg-5">
        <img src="assets/images/logo_1.png" alt="logo" style="width: 50px; height: 50px;" (click)="goToHomePage()" class="logoCursor">
        <a class="navbar-brand" >CritiQ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active logoCursor" aria-current="page" (click)="goToHomePage()">Home</a></li>
                <li class="nav-item logoCursor"><a class="nav-link" (click)="aboutUs()" >About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" (click)="getAllCategories()">All Categories</a></li>
                        <!-- <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Places</a></li>
                        <li><a class="dropdown-item" href="#!">Movies</a></li>
                        <li><a class="dropdown-item" href="#!">Books</a></li>
                        <li><a class="dropdown-item" href="#!">Other</a></li> -->
                    </ul>
                </li>
            </ul>

            <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchData">
                <button class="btn btn-outline-dark" (click)="search()">Search</button>
            </div>




            
            <form class="d-flex" style="margin-left:10px">
                <button class="btn btn-outline-dark"  >
                    <a href="login" style="color:black; text-decoration-line: none;" id="logout-btn">
                    <i class="bi-cart-fill me-1"></i>
                    Logout

                </a>
                    <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> -->
                </button>
            </form>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<div class="footer">

 <app-footer></app-footer> 
</div>









<!-- <section class="search-bar">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Search">
      <button mat-button matSuffix aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </section> -->