

  <div class="container">
    <h1 style="color: blanchedalmond; font-family:cursive;" >Tech Stacks</h1>
    <div class="tech-stack">
      <img src="assets/images/html.jpg" alt="HTML" class="html" style="height: 150px; width: 200px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">HTML</span>
    </div>
    <div class="tech-stack">
      <img src="assets/images/Css.jpg" alt="CSS" style="height: 150px; width: 200px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">CSS</span>
    </div>
    <div class="tech-stack">
        <img src="assets/images/js.png" alt="JS" style="height: 150px; width: 150px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">JAVASCRIPT</span>
    </div>
    <div class="tech-stack">
        <img src="assets/images/Ang.jpg" alt="CSS" style="height: 150px; width: 200px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">ANGULAR</span>
    </div>
    <div class="tech-stack">    
        <img src="assets/images/java.jpg" alt="JAVA" style="height: 150px; width: 220px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">JAVA</span>
    </div>
    <div class="tech-stack">
        <img src="assets/images/Springboot.png" alt="SPRING BOOT" style="height: 150px; width: 200px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">SPRING BOOT</span>
    </div>
    <div class="tech-stack">
        <img src="assets/images/mysql.png" alt="MYSQL" style="height: 150px; width: 150px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">MYSQL</span>
    </div>
    <div class="tech-stack">
        <img src="assets/images/Micro.png" alt="MICROSERVICES" style="height: 150px; width: 150px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">MICROSERVICES</span>
    </div>
    <div class="tech-stack">
        <img src="assets/images/Postman.jpg" alt="POSTMAN" style="height: 150px; width: 150px; border-radius: 10px;">
      <span style="color: blanchedalmond; font-family:cursive;">POSTMAN</span>  
    </div>
    <!-- <h2 style="color: blanchedalmond; font-family:cursive; text-align: right;">And more...</h2> -->
  </div>
